extends layout

block content

  include  templates/nav 
  div(class=['ui', 'container', 'grid','stackable'])
    div(class=['ten', 'wide', 'column'])
       h3(class=['ui', 'header','blue'])= 'Bienvenido a Mi crud en Node js sematic ,exppres y mysql ;)'

 
